---
layout: socle.njk
page_cle: mentions
pagination:
  data: langues
  size: 1
  alias: langue
permalink: "{{ adresses['mentions'][langue] }}index.html"
---
<main>
  <div class="phead">
    <div class="wrap">
      <h1 data-champ="mentions.phead.titre">{{ t.mentions.phead.titre | safe }}</h1>
    </div>
  </div>
  <hr class="grad-rule">
  <section>
    <div class="wrap"><div class="legal">
      <h3 data-champ="mentions.legal.soustitre">{{ t.mentions.legal.soustitre | safe }}</h3>
      <p data-champ="mentions.legal.texte">{{ t.mentions.legal.texte | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre2">{{ t.mentions.legal.soustitre2 | safe }}</h3>
      <p data-champ="mentions.legal.texte2">{{ t.mentions.legal.texte2 | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre3">{{ t.mentions.legal.soustitre3 | safe }}</h3>
      <p data-champ="mentions.legal.texte3">{{ t.mentions.legal.texte3 | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre4">{{ t.mentions.legal.soustitre4 | safe }}</h3>
      <p data-champ="mentions.legal.texte4">{{ t.mentions.legal.texte4 | safe }}</p>
      <p data-champ="mentions.legal.texte5">{{ t.mentions.legal.texte5 | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre5">{{ t.mentions.legal.soustitre5 | safe }}</h3>
      <p data-champ="mentions.legal.texte6">{{ t.mentions.legal.texte6 | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre6">{{ t.mentions.legal.soustitre6 | safe }}</h3>
      <p data-champ="mentions.legal.texte7">{{ t.mentions.legal.texte7 | safe }}</p>
      <h3 data-champ="mentions.legal.soustitre7">{{ t.mentions.legal.soustitre7 | safe }}</h3>
      <p data-champ="mentions.legal.texte8">{{ t.mentions.legal.texte8 | safe }}</p>
    </div></div>
  </section>
</main>
